
body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#tools {
    flex: 0 0 10%;
    padding: 10px;
    border-right: 2px solid #ccc;
    box-shadow: 10px 10px 10px lightblue;
}

#editor {
    flex: 0 0 66%;
    text-align: center;
    padding-top: 30px;
}

#layers-panel {
    flex: 0 0 10%;
    padding: 20px;
    border-left: 2px solid #ccc;
    box-shadow: -10px 10px 10px lightblue;
}

canvas {
    border: 1px solid black;
    cursor: crosshair;
}

/* Add other CSS rules here as needed */
